# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Lainnya (opsional, tapi bagus untuk dimiliki)
.env
npm-debug.log*
yarn-error.log*
CLAUDE.md

# Database
*.db
*.db-journal
backend/.keystone

# File Aplikasi Mentah
*.apk
*.ipa
*.app

# Log System Testing
*.log
wdio.log
appium.log

# Report Mochawesomes
mochawesome-report/
test-report.html
test-report.json