<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880946642165-68bte7v418g7lkn35es6olgtn5cmmmrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880946642165-68bte7v418g7lkn35es6olgtn5cmmmrm</string>
	<key>API_KEY</key>
	<string>AIzaSyCIRGcfU15oT0TiduWt0Ck9QfWoxfSFyvg</string>
	<key>GCM_SENDER_ID</key>
	<string>880946642165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobilegereja.app</string>
	<key>PROJECT_ID</key>
	<string>kp-gkijateng</string>
	<key>STORAGE_BUCKET</key>
	<string>kp-gkijateng.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880946642165:ios:6b167e7dc2d077fa03d9bc</string>
</dict>
</plist>